<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title><b>Eki Projek</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container" class="h-full flex flex-col gap-4 p-4">
    <div class="flex-1 rounded-xl overflow-hidden">
      <div [chart]="chart" style="height: calc(100% + 2px)"></div>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <div class="rounded-xl p-2 flex flex-col items-center justify-center border" style="background: #e13838; color: white;">
        <div class="text-2xl"><b>{{vpv | number:'1.0-2'}}<span class="text-xs">V</span></b></div>
        <div><small>Tegangan PV</small></div>
      </div>

      <div class="rounded-xl p-2 flex flex-col items-center justify-center border" style="background: #e17e38; color: white;">
        <div class="text-2xl"><b>{{ipv | number:'1.0-2' }}<span class="text-xs">mA</span></b></div>
        <small>Arus PV</small>
      </div>

      <div class="rounded-xl p-2 flex flex-col items-center justify-center border" style="background: #63CBE1; color: white;">
        <div class="text-2xl"><b>{{wpv | number:'1.0-2' }}<span class="text-xs">W</span></b></div>
        <small>Daya PV</small>
      </div>

      <div class="rounded-xl p-2 flex flex-col items-center justify-center border" style="background: #073db7; color: white;">
        <div class="text-2xl"><b>{{vbt | number:'1.0-2' }}<span class="text-xs">V</span></b></div>
        <small class="truncate">Teg Baterai</small>
      </div>

      <div class="rounded-xl p-2 flex flex-col items-center justify-center border" style="background: #07d4b7; color: white;">
        <div class="text-2xl"><b>{{ibt | number:'1.0-2' }}<span class="text-xs">mA</span></b></div>
        <small>Arus Baterai</small>
      </div>

      <div class="rounded-xl p-2 flex flex-col items-center justify-center border" style="background: #417858; color: white;">
        <div class="text-2xl"><b>{{wbt | number:'1.0-2' }}<span class="text-xs">W</span></b></div>
        <small>Daya Baterai</small>
      </div>
    </div>
  </div>
</ion-content>
